.globe-3 .scene-container {
  position: absolute !important;
  top: -300px !important;
  left: -30px !important;
}

.home-container.home-3 .home-division .home-world-graph {
  position: relative;
  z-index: 3;
}
.home-container .home-division .home-info {
  position: relative;
  z-index: 2;
}



.home-container.home-3 .person {
  top: 0px !important;
}
.home-container.home-3 .three-divisions {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin: 50px 25px 0 25px;
  gap: 50px;
  position: relative;
  z-index: 3;
}
.home-container.home-3 .person-btns {
  position: static !important;
}