.it-services_new-request-container {
  background-color: var(--third-color);
  padding: 25px;
  position: relative;
  top: 85px;
}
.it-services_new-request-container .content-services-request {
  border-radius: 15px;
}
.it-services_new-request-container .content-services-request .header {
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 10px 10px 0 0;
}
.it-services_new-request-container .content-services-request .header h1 {
  color: #fff !important;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 400;
}
.it-services_new-request-container .content-services-request .content {
  display: flex;
  gap: 15px;
}



.it-services_new-request-container .content-services-request .content .form {
  flex-basis: 70%;
  padding: 25px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}





.it-services_new-request-container .content-services-request .content .tips {
  flex-basis: 30%;
  padding: 25px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.it-services_new-request-container .content-services-request .content .tips .tips_user-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  gap: 5px;
}
.it-services_new-request-container .content .tips .tips_user-info .tips_user-info_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.it-services_new-request-container .content .tips .tips_user-info .tips_user-info_text > div p {
  font-size: 0.9rem;
}

.it-services_new-request-container .content .tips .tips_user-info .tips_user-info_img img {
  width: 80px;
  height: 80px;
  border: 8px solid var(--third-color);
  border-radius: 15px;
}



.it-services_new-request-container .content .tips .tips_tips-container {

}
.it-services_new-request-container .content .tips .tips_tips-container .tips_header {
  background-color: var(--third-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--main-color);
}
.it-services_new-request-container .content .tips .tips_tips-container ul {
  list-style: decimal;
  padding: 0 20px;
}
.it-services_new-request-container .content .tips .tips_tips-container ul li {
  line-height: 1.5;
  color: var(--main-color);
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.it-services_new-request-container .content .tips .tips_tips-container ul li:not(:last-child) {
  border-bottom: 1px solid #00000010;
}


.it-services_new-request-container .content .form hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .it-services_new-request-container .content .tips .tips_user-info .tips_user-info_img img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 800px) {
  .it-services_new-request-container {
    padding: 20px 10px;
  }
  .it-services_new-request-container .content-services-request {
    padding: 10px;
  }
  .it-services_new-request-container .content-services-request .content {
    flex-direction: column;
  }
  .it-services_new-request-container .content-services-request .content .form {
    flex-basis: 50%;
    padding: 15px;
  }
  .it-services_new-request-container .content-services-request .content .tips {
    flex-basis: 50%;
    padding: 15px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 600px) {
  

}